[submodule "docs/robots/ZoroBot3"]
	path = docs/robots/ZoroBot3
	url = https://github.com/OPRobots/ZoroBot3
	branch = develop
[submodule "docs/robots/FujitoraBot2"]
	path = docs/robots/FujitoraBot2
	url = https://github.com/OPRobots/FujitoraBot2.git
	branch = main
[submodule "docs/modules/IRStart"]
	path = docs/modules/IRStart
	url = https://github.com/OPRobots/IRStart.git
	branch = main
[submodule "docs/modules/H3LIS331-demo"]
	path = docs/demos/H3LIS331-demo
	url = https://github.com/OPRobots/H3LIS-demo.git
	branch = main
[submodule "docs/modules/SRAM-demo"]
	path = docs/demos/SRAM-demo
	url = https://github.com/OPRobots/SRAM-demo.git
	branch = main
[submodule "docs/modules/CRSF-demo"]
	path = docs/demos/CRSF-demo
	url = https://github.com/OPRobots/CRSF-demo.git
	branch = main
[submodule "docs/modules/IRTimer"]
	path = docs/modules/IRTimer
	url = https://github.com/OPRobots/IRTimer
	branch = main
[submodule "docs/boards/OPRcontrolFOC"]
	path = docs/boards/OPRcontrolFOC
	url = https://github.com/OPRobots/OPRcontrolFOC.git
	branch = main
[submodule "docs/robots/UltiBot"]
	path = docs/robots/UltiBot
	url = https://github.com/OPRobots/UltiBot.git
	branch = main
